#wrap {
    background-color: aqua;
    margin: 400px;
    padding: 50px;
}

ul {
    text-align: center;
    list-style-type: none;
    text-transform: capitalize;


}

li::first-letter{
font-size: 2em;
}

